/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #02060a;
}

.btn {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #02060a;
  transition: all 0.475s;
}

.btn:hover::before {
  transform: scaleX(1);
  color: black !important;
}

.button-content {
  position: relative;
  z-index: 1;
  font-weight: 600;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    146.42deg,
    #fdb936 15.06%,
    #fa9536 45.36%,
    #f03b39 85.06%
  );
  transition: all 0.475s;
}

.bg-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}
.btn-2 {
  --color: #fa9536;
  height: 2.5rem;
  padding: 0 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  background-color: #3d3a4e;
}

.btn-2::before,
.btn-2::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.btn-2::before {
  top: -1em;
  left: -1em;
}

.btn-2::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn-2:hover::before,
.btn-2:hover::after {
  height: 410px;
  width: 410px;
}

.btn-2:hover {
  color: rgb(10, 25, 30);
}

.btn-2:active {
  filter: brightness(0.8);
}

.rotated-style {
  -webkit-animation: rotated-style 30s linear infinite;
}

@keyframes rotated-style {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
